@import '~scss/utils';

.three {
  width: 100%;
  padding: layout(2xs);
  background: theme(ocean, dark2);
  background: linear-gradient(
    135deg,
    theme(blueRose, dark2),
    theme(blueRose, light1),
  );

  @include breakpoint('gt-xs') {
    padding: layout(xs);
  }

  @include breakpoint('gt-sm') {
    padding: layout(sm);
  }

  @include breakpoint('gt-md') {
    padding: layout(md);
  }
}

.three__main {
  @include flex-column(start, center);
}

// Steps

.three__steps {
  width: 100%;
  max-width: 70rem;
  box-shadow: shadow(4);
}
