@import '~style-utils';

.frame {
  width: 100%;
}

.footnote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: spacing(sm);
  padding-top: spacing(sm);
  border-top: 1px solid theme(cloud, dark2);
  color: rgba(theme(ocean, dark1), .6);
  text-align: center;
  font-size: .85rem;
  line-height: 1.35em;
}

// Section: copy site

.copy-site {
  background-color: theme(cloud, dark1);
}

.copy-site__url {
  font-size: 1.1rem;
  line-height: 1em;
  @include truncate(1, 100%);
}

@include breakpoint('gt-xs') {
  font-size: 1.45rem;
}

// Section: copy poster

.copy-poster {
  background-color: #fff;
}

// Section: copy countdown

.copy-countdown {
  background-color: theme(blueRose, base);
}

.copy-countdown__url {
  @include truncate(1, 100%);
}

.copy-countdown__time {
  margin-top: layout(sm);
  color: rgba(255, 255, 255, .65);
  text-align: center;
  text-transform: uppercase;
  font-family: font-family(primary);
  font-size: 1.8rem;
  line-height: 1em;
  font-weight: 300;

  strong {
    display: inline-block;
    color: #fff;
    font-weight: 400;
  }
}

.copy-countdown__invite {
  @include flex-column(center, center);
  margin-top: spacing(sm);
}

@include breakpoint('gt-xs') {
  .copy-countdown__time {
    font-size: 2.5rem;
    margin-top: layout(md);
  }
}
