@import '~scss/utils';

.join {
  @include flex-column(center, center);
  padding: spacing(md) 0 spacing(lg);
  text-align: center;
}

.join__pre-title {
  margin-top: spacing(xs);
  color: theme(redRose, light1);
  font-family: font-family(primary);
  font-size: 1.45rem;
  letter-spacing: -.5px;

  @include breakpoint('gt-xs') {
    font-size: 1.6rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 1.75rem;
  }

  @include breakpoint('gt-md') {
    font-size: 2rem;
  }

  @include breakpoint('gt-lg') {
    font-size: 2.25rem;
  }
}

.join__title {
  margin-top: spacing(md);
  font-size: 2.25rem;
  line-height: 1em;

  @include breakpoint('gt-xs') {
    margin-top: spacing(lg);
    font-size: 3.5rem;
  }

  @include breakpoint('gt-sm') {
    margin-top: spacing(xl);
    font-size: 4rem;
  }

  @include breakpoint('gt-md') {
    margin-top: spacing(2xl);
    font-size: 4.5rem;
  }

  @include breakpoint('gt-lg') {
    font-size: 5rem;
  }
}

.join__subtitle {
  max-width: 40rem;
  margin-top: spacing(sm);
  text-align: left;

  @include breakpoint('gt-sm') {
    margin-top: spacing(md);
    max-width: 45rem;
  }

  @include breakpoint('gt-md') {
    margin-top: spacing(lg);
  }
}

.join__when {
  position: relative;
  @include flex-row(normal, normal, wrap);
  margin: spacing(md) 0 spacing(sm);
  padding: 0 0 spacing(sm);

  &::after {
    content: '';
    @include position(absolute, null null -2px 50%);
    transform: translateX(-50%);
    @include size(3rem, 4px);
    @include gradient(theme(blueRose, light2), theme(redRose, light2));
  }

  @include breakpoint('gt-xs') {
    margin: spacing(lg) 0 spacing(md);
    padding: 0 0 spacing(md);
  }

  @include breakpoint('gt-sm') {
    margin: spacing(xl) 0 spacing(lg);
    padding: 0 0 spacing(lg);
  }

  @include breakpoint('gt-md') {
    margin: spacing(2xl) 0 spacing(xl);
    padding: 0 0 spacing(xl);
  }

  @include breakpoint('gt-lg') {
    margin: layout(md) 0 spacing(2xl);
    padding: 0 0 spacing(2xl);
  }
}

.join__when-span {
  display: inline-block;
  @include flex-row(center, center);
  font-family: font-family(primary);
  line-height: 1em;

  &:not(:first-child) {
    margin-left: spacing(sm);
  }
}

.join__when-icon {
  display: inline-block;
  margin-right: spacing(2xs);
  font-size: 1.4rem;

  @include breakpoint('gt-sm') {
    font-size: 1.8rem;
  }
}

.join__when-text {
  font-size: 1.3rem;
  font-weight: 700;

  @include breakpoint('gt-sm') {
    font-size: 1.7rem;
  }
}
