@import '~style-utils';
@import '~@styles/keyframes/zoom-pace';

.frame {
  @include position(absolute, 0 0 0 0);
}

.frame__cover,
.frame__cover-image,
.frame__cover-blanket,
.frame__cover-blend {
  @include size(100%);
}

.frame__cover {
  position: relative;
  overflow: hidden;
}

.frame__cover-image,
.frame__cover-blanket,
.frame__cover-blend {
  @include position(absolute, 0 0 0 0);
}

.frame__cover-image {
  @include bg-image(cover);

  &--animate {
    animation: zoom-pace 25s cubic-bezier(.2, 0, .8, 1) infinite;
  }
}

@supports not (mix-blend-mode: multiply) {
  .frame__cover-blend {
    display: none;
  }
}

// Main content over cover

.frame-content {
  position: relative;
  @include flex-column();
  max-width: 100%;
  height: 100%;
}
