@import '~scss/utils';

.wrapper {
  @include flex-column(center, center);
}

.wrapper__label {
  margin-top: 3px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .7rem;
  font-weight: 700;
  line-height: 1em;
  word-wrap: nowrap;
  color: color(content, subtle);

  &--small {
    font-size: .55rem;
  }

  &--light {
    color: #fff;
  }
}

:global {
  .c2-icon-button__label {
    color: color(content, base);
    font-size: 1.7rem;
  }

  .c2-icon-button {
    @include size(3.5rem);
    transition-duration: 150ms;

    &--small {
      @include size(2rem);

      .c2-icon-button__label {
        font-size: 1.1rem;
      }
    }
  }

  // Ghost button
  .MuiIconButton-root.c2-icon-button--ghost {
    background-color: transparent;
    border: 1px solid transparent;

    &:hover {
      border-color: theme(cloud, dark2);
    }
  }

  // Inverted button
  .MuiIconButton-root.c2-icon-button--inverted {
    background-color: transparent;
    border: 1px solid transparent;

    .c2-icon-button__label {
      color: #fff;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .1);
      border-color: rgba(255, 255, 255, .2);
    }
  }

  // Primary button
  .MuiIconButton-root.c2-icon-button--primary {
    @include gradient(theme(blueRose, dark1), theme(ocean, base));
    border: 2px solid transparent;

    .c2-icon-button__label {
      color: #fff;
    }

    &:hover {
      background: transparent;
      border-color: theme(blueRose, dark1);

      .c2-icon-button__label {
        color: theme(blueRose, dark1);
      }
    }
  }

  // Secondary button
  .MuiIconButton-root.c2-icon-button--secondary {
    background-color: transparent;
    border: 2px solid theme(blueRose, dark1);

    .c2-icon-button__label {
      color: theme(blueRose, dark1);
    }

    &:hover {
      background: theme(blueRose, dark1);
      border-color: transparent;

      .c2-icon-button__label {
        color: #fff;
      }
    }
  }

  // White button
  .MuiIconButton-root.c2-icon-button--white {
    background-color: transparent;
    border: 2px solid #fff;

    .c2-icon-button__label {
      color: #fff;
    }

    &:hover {
      background: #fff;
      border-color: transparent;

      .c2-icon-button__label {
        color: theme(blueRose, dark1);
      }
    }
  }
}
