@import '~scss/utils';

.video {
  display: block;
}

// Video header

.video__header {
  @include flex-row(normal, center);
}

.video__icon {
  margin-right: spacing(sm);
  color: theme(redRose, dark1);
  font-size: 1.35rem;
}

.video__header-content {
  text-align: left;
}

.video__header-title {
  color: #000;
  line-height: 1.15em;
}

.video__header-details {
  margin-top: 3px;
  color: rgba(theme(ocean, dark2), .7);
  font-size: .75rem;
  line-height: 1.15em;
}

// Video iframe

.video__iframe-wrap {
  position: relative;
  margin-top: spacing(xs);
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  @include breakpoint('gt-sm') {
    margin-top: spacing(md);
  }
}

.video__iframe {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  overflow: hidden;
  background-color: theme(cloud, dark2);
  border-radius: border-radius(normal);
  box-shadow: shadow(2);

  @include breakpoint('gt-xs') {
    &:hover {
      box-shadow: shadow-hover(2);
    }
  }
}
