@import '~scss/utils';

.header {
  width: 100%;
  height: ui-layout(headerHeightSm);

  @include breakpoint('gt-sm') {
    height: ui-layout(headerHeightGtSm);
  }

  &--hidden {
    opacity: 0;
  }
}
