@import '~scss/utils';

.header,
.header__spacer {
  width: 100%;
  height: ui-layout(headerHeightSm);

  @include breakpoint('gt-sm') {
    height: ui-layout(headerHeightGtSm);
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: z-index(header);
  background-color: theme(blueRose, base);
  color: #fff;

  &--hidden {
    pointer-events: none;
    opacity: 0;
  }
}
