$border-radius-sharp: .6rem;
$border-radius-normal: .8rem;
$border-radius-round: 1rem;

$border-radii: (
  sharp: $border-radius-sharp,
  normal: $border-radius-normal,
  round: $border-radius-round,
);

:export {
  sharp: $border-radius-sharp;
  normal: $border-radius-normal;
  round: $border-radius-round;
}
