// To manage colors, follow this pattern:
// ## 1. Create variable for color
// ## 2. Add to the appropriate map
// ## 3. Add variable to export

// Color variables
$color-content-base: rgba(0, 0, 0, .9);
$color-content-subtle: rgba(0, 0, 0, .65);

// Theme: cloud
$theme-cloud-dark2: #d3d7e9;
$theme-cloud-dark1: #e4e7f2;
$theme-cloud-base: #f5f6fa;
$theme-cloud-light1: #fff;
$theme-cloud-light2: #fff;

// Theme: red-rose
$theme-red-rose-dark2: #a01025;
$theme-red-rose-dark1: #ca142f;
$theme-red-rose-base: #e9223f;
$theme-red-rose-light1: #ed4b62;
$theme-red-rose-light2: #f17486;

// Theme: blue-rose
$theme-blue-rose-dark2: #153b78;
$theme-blue-rose-dark1: #1c4f9d;
$theme-blue-rose-base: #2362c4;
$theme-blue-rose-light1: #3978dc;
$theme-blue-rose-light2: #5f93e2;

// Theme: ocean
$theme-ocean-dark2: #051434;
$theme-ocean-dark1: #08245e;
$theme-ocean-base: #0c3487;
$theme-ocean-light1: #1044b0;
$theme-ocean-light2: #1354da;

// Theme: marine
$theme-marine-dark2: #3eb8ae;
$theme-marine-dark1: #5bc8bf;
$theme-marine-base: #7dd3cc;
$theme-marine-light1: #9fded9;
$theme-marine-light2: #c0eae6;

// Combined color map
$colors: (
  content: (
    base: $color-content-base,
    subtle: $color-content-subtle,
  ),
);

// Combined theme map
$theme: (
  cloud: (
    dark2: $theme-cloud-dark2,
    dark1: $theme-cloud-dark1,
    base: $theme-cloud-base,
    light1: $theme-cloud-light1,
    light2: $theme-cloud-light2,
  ),
  redRose: (
    dark2: $theme-red-rose-dark2,
    dark1: $theme-red-rose-dark1,
    base: $theme-red-rose-base,
    light1: $theme-red-rose-light1,
    light2: $theme-red-rose-light2,
  ),
  blueRose: (
    dark2: $theme-blue-rose-dark2,
    dark1: $theme-blue-rose-dark1,
    base: $theme-blue-rose-base,
    light1: $theme-blue-rose-light1,
    light2: $theme-blue-rose-light2,
  ),
  ocean: (
    dark2: $theme-ocean-dark2,
    dark1: $theme-ocean-dark1,
    base: $theme-ocean-base,
    light1: $theme-ocean-light1,
    light2: $theme-ocean-light2,
  ),
  marine: (
    dark2: $theme-marine-dark2,
    dark1: $theme-marine-dark1,
    base: $theme-marine-base,
    light1: $theme-marine-light1,
    light2: $theme-marine-light2,
  ),
);

// Export all color variables
// Note: should correspond to all variables above
:export {
  contentBase: $color-content-base;
  contentSubtle: $color-content-subtle;
  // Theme: cloud
  cloudDark2: $theme-cloud-dark2;
  cloudDark1: $theme-cloud-dark1;
  cloudBase: $theme-cloud-base;
  cloudLight1: $theme-cloud-light1;
  cloudLight2: $theme-cloud-light2;
  // Theme: redRose
  redRoseDark2: $theme-red-rose-dark2;
  redRoseDark1: $theme-red-rose-dark1;
  redRoseBase: $theme-red-rose-base;
  redRoseLight1: $theme-red-rose-light1;
  redRoseLight2: $theme-red-rose-light2;
  // Theme: blueRose
  blueRoseDark2: $theme-blue-rose-dark2;
  blueRoseDark1: $theme-blue-rose-dark1;
  blueRoseBase: $theme-blue-rose-base;
  blueRoseLight1: $theme-blue-rose-light1;
  blueRoseLight2: $theme-blue-rose-light2;
  // Theme: ocean
  oceanDark2: $theme-ocean-dark2;
  oceanDark1: $theme-ocean-dark1;
  oceanBase: $theme-ocean-base;
  oceanLight1: $theme-ocean-light1;
  oceanLight2: $theme-ocean-light2;
  // Theme: marine
  marineDark2: $theme-marine-dark2;
  marineDark1: $theme-marine-dark1;
  marineBase: $theme-marine-base;
  marineLight1: $theme-marine-light1;
  marineLight2: $theme-marine-light2;
}
