$spacing-3xs: .125rem;
$spacing-2xs: .25rem;
$spacing-xs: .5rem;
$spacing-sm: .75rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-2xl: 2.5rem;
$spacing-3xl: 3rem;

$layout-2xs: 1rem;
$layout-xs: 1.5rem;
$layout-sm: 2rem;
$layout-md: 3rem;
$layout-lg: 4rem;
$layout-xl: 6rem;
$layout-2xl: 10rem;
