@import '~scss/utils';

$divider: 1px solid theme(cloud, dark2);

.group {
  @include flex-column();
  padding: spacing(sm);

  &:not(:first-child) {
    border-top: $divider;
  }

  @include breakpoint('gt-md') {
    flex: 1 1 0%;
    padding: 0;

    &:not(:first-child) {
      border-top: none;
    }
  }
}

// Cover image and icon

.group__cover {
  position: relative;
  height: 45vw;
  max-height: 100%;
  @include bg-image(cover);
  border-radius: border-radius(sharp);
  overflow: hidden;

  @include breakpoint('gt-xs') {
    max-height: 12rem;
  }

  @include breakpoint('gt-sm') {
    max-height: 14rem;
  }

  @include breakpoint('gt-md') {
    border-radius: 0;
  }
}

.group__cover::before {
  content: '';
  @include position(absolute, 0 null null 0);
  @include size(100%);
  background-color: rgba(theme(ocean, base), .35);
  mix-blend-mode: hue;
}

.group__cover::after {
  content: '';
  @include position(absolute, 0 null 0 50%);
  @include size(6px, 200%);
  transform: translate(-3px, -25%) rotate(-35deg);
  transform-origin: center center;
  background-color: #fff;
}

.group:nth-of-type(even) .group__cover::after {
  transform: translate(-3px, -25%) rotate(35deg);
}

.group__icon {
  @include position(absolute, 50% null null 50%);
  z-index: 2;
  transform: translate(-50%, -50%);
  @include flex-column(center, center);
  @include size(5.7rem);
  padding-bottom: 2px;
  @include gradient(theme(blueRose, base), theme(redRose, base));
  border: 5px solid #fff;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #fff;
}

// Main content

.group__main {
  padding: spacing(md);

  @include breakpoint('gt-xs') {
    padding: spacing(lg);
  }

  @include breakpoint('gt-md') {
    padding: spacing(lg) spacing(lg) 1.7rem;

    &:not(:first-child) {
      border-left: $divider;
    }
  }
}


.group__name {
  margin-top: -.3rem;
  text-align: center;
}

.group__desc {
  margin-top: spacing(sm);
}
