@import '~scss/utils';

.hashtags {
  width: 50rem;
  max-width: 100%;
  border-radius: border-radius(sharp);
  box-shadow: shadow(24);
  overflow: hidden;
}

// Layout

.hashtags__result {
  @include gradient(theme(redRose, base), theme(redRose, light2));
}

.hashtags__options {
  background-color: #fff;
}
