@import '~scss/utils';

.preview {
  @include flex-row(flex-start, center);
}

// Poster preview

.poster {
  width: 3.5rem;
  @include flex-column(center, flex-start);
  padding: 0 spacing(2xs) 0 2px;
}

.poster__thumb {
  @include size(3rem);
  @include bg-image(cover);
  padding: 5px;
  border-radius: border-radius(sharp);
}

// Tags styling

.tags {
  @include flex-column(center, flex-start);
  padding: 0 spacing(2xs);
  color: #000;
  font-family: font-family(content);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25em;
}

.tags__base {
}

.tags__end {
}
