@import '~scss/utils';

.preview {
  @include flex-row(flex-start, center);
}

// Poster preview

.poster {
  width: 3.5rem;
  @include flex-column(center, flex-start);
  margin-right: spacing(xs);
}

.poster__thumb {
  @include size(2.5rem);
  padding: 5px;
}

// Tags styling

.tags {
  @include flex-column(center, flex-start);
  color: #000;
  font-family: font-family(content);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25em;
}

.tags__base {
}

.tags__end {
}
