@import '~style-utils';

.about {
  @include flex-column(center, center);
}

.about__center {
  width: 100%;
  max-width: 25rem;
}

.card {
  position: relative;
  @include flex-column(flex-start, center);
  width: 100%;
  margin-top: spacing(lg);
  padding: 1rem spacing(lg) .6rem;
  background-color: #fff;
  border-radius: border-radius(round);
  box-shadow: shadow(24);
  color: #000;

  &:first-child {
    margin-top: spacing(sm);
  }
}

.card__heading {
  @include position(absolute, 0 null null 50%);
  transform: translate(-50%, -.7rem);
  @include flex-column(center, center);
  height: 1.5rem;
  padding: 0 10px 2px 10px;
  background-color: theme(blueRose, dark2);
  border-radius: 50px;
  border: 3px solid #fff;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: .8rem;
  line-height: 1em;
}

.card__text {
  margin-bottom: 4px;
  text-align: left;
  font-size: .93rem;
  line-height: 1.3em;

  &:not(:first-child) {
    margin-top: spacing(2xs);
  }
}

.card__where {
  @include flex-row(center, center);
  text-transform: uppercase;
  letter-spacing: .2px;
  font-size: .85rem;
  font-weight: 700;
  line-height: 1.2em;

  @include breakpoint('gt-sm') {
    margin-bottom: 3px;
  }
}

// Share invitation card

.share-invite {
  @include flex-column(center, center);
  margin-bottom: spacing(lg);
}
