@import '~scss/utils';

.main-frame {
  position: relative;
  padding: layout(xs) layout(2xs) layout(sm);

  @include breakpoint('gt-xs') {
    padding: layout(sm) layout(md) layout(md);
  }

  @include breakpoint('gt-sm') {
    padding: layout(md) layout(lg) layout(lg);
  }

  @include breakpoint('gt-md') {
    padding: layout(md) layout(xl) layout(xl);
  }
}

.main {
  width: 100%;
}
