@import '~scss/utils';

.ready {
  position: relative;
  width: 100%;
}

.ready__countdown {
  min-height: 45vh;
  @include flex-column(center, center);
}

.ready__quote-frame {
  min-height: 45vh;
  @include flex-column(center, center);
}

.ready__quote {
  max-width: 50rem;
}
