@import '~scss/utils';

:global {
  .root-loading-frame {
    width: auto;
    @include position(absolute, 0 0 0 0);
    @include flex-column(center, center);
    @include size(100%);
  }

  .root-loading {
    position: relative;
    @include size(6rem);
    line-height: 1em;
  }

  .root-loading__star,
  .root-loading__spinner {
    @include position(absolute, 0 null null 0);
    @include flex-column(center, center);
    @include size(100%);
  }

  .root-loading__star {
    color: theme(redRose, base);
    font-size: 2.75rem;
  }

  .root-loading__spinner {
    color: theme(blueRose, base);
    font-size: 5rem;
  }
}
