@import '~scss/utils';

$border: 1px solid theme(cloud, dark2);

.countdown {
  min-width: 17rem;
  max-width: 100%;
  margin-top: 3px;
  border-radius: border-radius(sharp);
  text-align: center;
  font-size: 1rem;
  line-height: 1em;
}

.row {
  width: 100%;
}

.header,
.ticker,
.footer {
  width: 100%;
}

// Countdown header

.header {
  @include flex-column(center, center);
  padding: 4px 6px;
  border: $border;
  border-bottom: none;
  @include border-top-radius(border-radius(sharp));
  color: theme(ocean, light1);
}

.from-now {
  margin-bottom: -1px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

// Countdown ticker

.ticker {
  border: $border;
  @include border-bottom-radius(border-radius(sharp));
  overflow: hidden;
}

.units {
  @include flex-row(center, center);
}

.unit {
  @include flex-column(center, center);
  flex: 1 0 3.2rem;
  height: 2.7rem;

  &:not(:first-child) {
    border-left: $border;
  }
}

.value {
  font-family: font-family(primary);
  font-size: 1.75rem;
  color: theme(ocean, dark1);
}

.unit--under10 .value {
  color: theme(blueRose, base);
}

.unit--zero .value {
  color: theme(redRose, base);
}

.label {
  margin: 5px 0 -4px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .7rem;
  font-weight: 700;
  color: rgba(theme(ocean, dark1), .85);
}

// Countdown footer

.zone {
  font-size: .7rem;
  color: theme(ocean, dark1);
}

// Countdown past

.countdown--past {
  .value {
    color: theme(ocean, light2);
  }

  .header,
  .label {
    color: theme(ocean, dark1);
  }
}
