@import '~style-utils';

.frame {
  @include flex-column(center, center);
  color: rgba(theme(ocean, base), .9);
  font-size: 1.5rem;
}

.text {
  color: theme(redRose, base);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .7rem;
  font-weight: 700;
}

.frame--subtle {
  color: rgba(theme(ocean, base), .7);

  .text {
    color: rgba(theme(ocean, base), .7);
    font-weight: 400;
  }
}
