@import '~scss/utils';

.header {
  position: sticky;
  top: ui-layout(headerHeightSm);
  z-index: 2;

  @include flex-column(center, center);
  background-color: #fff;
  padding: spacing(sm) layout(2xs);
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);

  @include breakpoint('gt-xs') {
    padding: spacing(md) layout(xs);
  }

  @include breakpoint('gt-sm') {
    top: ui-layout(headerHeightGtSm);
  }
}

.header__pre-title,
.header__title {
  text-transform: uppercase;
  font-family: font-family(primary);
  line-height: 1.1em;
}

.header__pre-title {
  margin-bottom: -5px;
  color: rgba(theme(ocean, dark1), .65);
  font-size: 1.5rem;
  font-weight: 400;
}

.header__title {
  color: theme(ocean, dark1);
  font-size: 2.25rem;
  font-weight: 700;

  @include breakpoint('gt-xs') {
    font-size: 3rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 3.5rem;
  }

  @include breakpoint('gt-md') {
    font-size: 4rem;
  }
}
