@import '~scss/utils';

.header {
  z-index: 5;

  @include flex-column(center, center);
  background-color: #fff;
  padding: layout(xs) layout(2xs);
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

  @include breakpoint('gt-xs') {
    padding: layout(sm) layout(xs);
  }
}

.header__pre-title,
.header__title {
  font-family: font-family(primary);
  line-height: 1.1em;
}

.header__pre-title {
  margin: 2px 0 -3px;
  color: rgba(theme(ocean, dark1), .65);
  font-size: 1.1rem;
  font-weight: 700;

  @include breakpoint('gt-xs') {
    font-size: 1.35rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 1.5rem;
  }
}

.header__title {
  color: theme(ocean, dark1);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;

  @include breakpoint('gt-xs') {
    font-size: 2.5rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 3rem;
    line-height: 1em;
  }

  @include breakpoint('gt-md') {
    font-size: 3.5rem;
  }
}
