@import '~helpers/scss';

.heading-wrap {
  position: relative;
  z-index: 3;
  padding: layout(2xs);
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3), 0 0 12px 0 rgba(0, 0, 0, 0.1);

  @include breakpoint('gt-xs') {
    padding: layout(xs);
  }

  @include breakpoint('gt-sm') {
    padding: layout(sm);
  }
}

.heading-border {
  padding: spacing(sm);
  @include gradient(theme(marine, dark2), theme(blueRose, light1));

  @include breakpoint('gt-sm') {
    padding: spacing(md);
  }
}

.heading {
  @include flex-row(center, center);
  padding: layout(lg) spacing(sm);
  background-color: #fff;
}

// Header content

.heading__content {
  @include flex-row(center, center);
  position: relative;
}

.heading__hashtag {
  margin: 3px spacing(2xs) 0 0;
  font-size: 2.7rem;
  color: theme(cloud, dark2);

  @include breakpoint('gt-xs') {
    font-size: 3.2rem;
  }

  @include breakpoint('gt-sm') {
    @include position(absolute, 50% 100% null null);
    transform: translateY(-50%);
    margin-right: spacing(sm);
    font-size: 3.7rem;
  }
}

.heading__title {
  letter-spacing: .5px;
  text-align: center;
  text-transform: uppercase;
  font-family: font-family(primary);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1em;
  text-shadow: 3px 3px 0 theme(marine, light2);

  @include text-gradient(
    theme(marine, dark2),
    linear-gradient(
      90deg,
      theme(blueRose, light1) 0%,
      darken(theme(marine, dark2), 5%) 100%,
    )
  ) {
    text-shadow: none;
  };

  @include breakpoint('gt-xs') {
    letter-spacing: 1px;
    font-size: 3rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 3.5rem;
  }

  @include breakpoint('gt-md') {
    letter-spacing: 2px;
    font-size: 4rem;
  }
}
