@import '~scss/utils';

.main-frame {
  padding: layout(xs) layout(2xs) layout(sm);

  @include breakpoint('gt-xs') {
    padding: layout(sm) layout(xs) layout(md);
  }

  @include breakpoint('gt-sm') {
    padding: layout(md) layout(sm) layout(lg);
  }

  @include breakpoint('gt-md') {
    padding: layout(lg) layout(md) layout(xl);
  }
}

.main {
}
