@import '~helpers/scss';

.videos {
  margin-top: layout(xs);
  padding-top: layout(2xs);
  border-top: 1px solid theme(cloud, dark2);

  @include breakpoint('gt-xs') {
    margin-top: layout(sm);
    padding-top: layout(xs);
  }

  @include breakpoint('gt-sm') {
    margin-top: layout(md);
    padding-top: layout(sm);
  }
}

.videos__title {
  text-align: center;

  @include breakpoint('gt-sm') {
    text-align: left;
  }
}

.videos__list {
  position: relative;
  @include flex-column(normal, center);
  padding-top: layout(2xs);

  @include breakpoint('gt-sm') {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
    grid-column-gap: layout(sm);
    grid-row-gap: layout(xs);
    place-content: start center;
    place-items: stretch stretch;
    padding-top: layout(sm);
  }

  &::after {
    content: '';
    display: none;
    @include position(absolute, null 0 0 0);
    @include size(100%, 5rem);
    background: linear-gradient(
      0,
      theme(cloud, base),
      rgba(theme(cloud, base), 0),
    );
  }
}

.videos__list--hidden {
  max-height: 15rem;
  pointer-events: none;
  overflow: hidden;

  &::after {
    display: block;
  }
}

.video__item {
  display: grid;
  place-items: stretch stretch;
  width: 100%;
  max-width: 25rem;

  &:not(:first-child) {
    margin-top: layout(xs);
  }

  @include breakpoint('gt-sm') {
    max-width: unset;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}

.videos__invite {
  @include flex-column(normal, center);
  padding-top: spacing(md);
}
