@import '~style-utils';

.group {
  @include flex-column();

  @include breakpoint('xs') {
    &:not(:first-child) {
      margin-top: layout(xs);
    }
  }
}

.group__card {
  position: relative;
  height: 100%;
  background-color: #fff;
  border-radius: border-radius(round);
  box-shadow: shadow(24);
  overflow: hidden;
}

.group__cover {
  position: relative;
  width: 100%;
  height: 50vw;
  max-height: 10rem;
  @include bg-image(cover);
  border-bottom: 6px solid theme(marine, dark2);

  @include breakpoint('gt-xs') {
    max-height: 12rem;
  }

  @include breakpoint('gt-sm') {
    max-height: 14rem;
  }
}

.group__cover::before {
  content: '';
  @include position(absolute, 0 null null 0);
  @include size(100%);
  background-color: rgba(theme(marine, base), .35);
  mix-blend-mode: hue;
}

.group__icon {
  @include position(absolute, 100% null null 50%);
  @include flex-column(center, center);
  transform: translate(-50%, calc(-50% + 3px));
  @include size(5.7rem);
  padding-bottom: 4px;
  @include gradient(theme(marine, dark2), theme(blueRose, base));
  border: 6px solid #fff;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #fff;
}

.group__main {
  padding: 3rem 1.6rem 1.6rem;
}

.group__name {
  text-align: center;
  color: #000;
}

.group__desc {
  margin-top: spacing(sm);
}
