@import '~scss/utils';

.section {
  padding: 2rem 1rem 7rem;
}

.section__title {
  padding: 3.5rem 1rem 4.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: font-family(primary);
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: theme(ocean, base);
}

.section:first-of-type {
  padding-top: 1rem;

  .section__title {
    padding-top: 0;
  }
}
