@import '~scss/utils';
@import '~scss/shared/animations/arrive-fade';

.frame {
  position: relative;
  @include flex-column(center, center);
  width: 100%;
}

.plugin {
  @include flex-column();
  width: auto;

  &--hidden {
    pointer-events: none;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
}

.plugin:not(.plugin--hidden) {
  animation: arrive-fade 750ms linear 500ms both;
}
