@import '~style-utils';

.dt {
  position: relative;
  @include flex-row(normal, normal, wrap);
  margin: 3px 0 spacing(sm);
  padding-bottom: spacing(sm);

  &::after {
    content: '';
    @include position(absolute, null null -2px 50%);
    transform: translateX(-50%);
    @include size(3rem, 4px);
    @include gradient(theme(blueRose, light2), theme(redRose, light2));
  }
}

.dt-span {
  display: inline-block;
  @include flex-row(center, center);
  font-family: font-family(primary);
  line-height: .95em;

  &:not(:first-child) {
    margin-left: spacing(xs);
  }
}

.dt-icon {
  display: inline-block;
  margin-right: spacing(2xs);
  font-size: 1.4rem;

  @include breakpoint('gt-sm') {
    font-size: 1.8rem;
  }
}

.dt-text {
  font-size: 1.3rem;
  font-weight: 700;

  @include breakpoint('gt-sm') {
    font-size: 1.6rem;
  }
}
