@import '~scss/utils';

.thanks {
  width: 100%;
}

.thanks__main {
  margin-top: -1px;
}

// Groups list styling

.thanks__front-line-grid {
  display: grid;
}

.thanks__response-grid {
  display: grid;
}

.thanks__essential-grid {
  display: grid;
}
