@import '~scss/utils';

.thanks {
  width: 100%;
}

.thanks__main {
  margin-top: -1px;
}

// Groups list styling

.thanks__front-line-grid {
  @include breakpoint('gt-xs') {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 30rem));
    grid-gap: layout(sm);
    place-content: start center;
  }
}

.thanks__response-grid {
  @include flex-column(start, center);
}

.thanks__response-grid__card {
  background-color: #fff;
  border-radius: border-radius(round);
  box-shadow: shadow(24);
  overflow: hidden;

  @include breakpoint('gt-xs') {
    max-width: 30rem;
  }

  @include breakpoint('gt-md') {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 94rem;
  }
}

.thanks__essential-grid {
  display: grid;
}
