@import '~scss/utils';
@import '~scss/core';

@keyframes fade-in-app {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.app {
  min-height: 100vh;
}

.app--loading {
  max-height: 0;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
}

.app:not(.app--loading) {
  animation: fade-in-app 500ms linear both;
}

// Loading view

.app-loading {
  @include position(fixed, 0 null null 0);
  @include size(100%, 100vh);
  background-color: #fff;
}

.app-loading__center {
  @include position(absolute, 40% null null 50%);
  padding: spacing(md);
  transform: translate(-50%, -50%);
}
