@import '~scss/utils';

$blanket-color: rgba(5, 25, 65, .5);

.header {
  position: relative;
  display: flex;
  min-height: 100vh;
  color: #fff;
}

.header__bg {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  @include bg-image(cover);
}

.header__blanket,
.header__blend {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  background-color: $blanket-color;
}

.header__blend {
  mix-blend-mode: color;
}

.header__grid {
  position: relative;
  @include flex-column();
  flex: 1 1 100%;
}

// Top area

.start {
  @include flex-row(center, center);
}

.start__brand {
  width: 10rem;
}

// Main layout

.main {
  flex: 1 1 0%;
  width: 100%;
}

// Main content

// Bottom area


.end {
  @include flex-column(center, center);
  padding: spacing(lg) 0 spacing(sm);

  @include breakpoint('gt-sm') {
    padding-bottom: calc(3rem + 30px);
  }
}

.end__down-invite {
  margin: 0 spacing(2xs);
}
