@import '~scss/utils';

.header {
  position: relative;
  @include flex-column();
  min-height: 100vh;
  background-color: theme(ocean, dark2);
  color: #fff;
}

// Top area

.start {
  @include flex-row(center, center);
}

.start__brand {
  width: 10rem;
}

// Main layout

.main {
  flex: 1 1 0%;
  width: 100%;
}

// Main content

// Bottom area


.end {
  @include flex-column(center, center);
  padding: spacing(lg) 0 spacing(sm);

  @include breakpoint('gt-sm') {
    padding-bottom: calc(3rem + 30px);
  }
}

.end__down-invite {
  margin: 0 spacing(2xs);
}
