@import '~scss/utils';

$aside-breakpoint: 1500px;
$bg-color: rgb(5, 25, 65);
$blanket-color: rgba(5, 25, 65, .5);
$header-bg-transform: scale(1.17) translateY(3.2rem);

@keyframes header-bg-pace {
  0% { transform: $header-bg-transform; }
  100% { transform: scale(1); }
}

// Frame layout

.frame {
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  color: #fff;
}

.frame__grid {
  position: relative;
  display: flex;
  flex-direction: column;
  @include size(100%);
}

// Frame main layout (horizontal split)

.frame__cover,
.frame__main {
  width: 100%;
}

@media all and (min-width: $aside-breakpoint) {
  .frame__cover,
  .frame__main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

// Frame start

.frame__start {
  @include flex-row(center, center);
  padding: spacing(md);
}

.frame__brand {
  display: flex;
  width: 8.5rem;
}

// Frame end

.frame__end {
  @include flex-column(flex-end, center);
  width: 100%;
  min-height: 10rem;
  padding-bottom: spacing(sm);

  @include breakpoint('gt-sm') {
    padding-bottom: calc(2.3rem + 30px);
  }
}

.frame__down-invite {
  margin: 0 spacing(2xs);
}

// Frame cover

.frame__cover {
  @include position(absolute, 0 0 0 0);
  @include size(100%);
  overflow: hidden;
}

.core-cover,
.aside-cover {
  position: relative;
  @include size(100%);
  overflow: hidden;
}

.core-cover__bg {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  @include bg-image(cover);
  background-position: 13% 30%;
  transform: $header-bg-transform;
  animation: header-bg-pace 15s ease-in-out both infinite alternate;
}

.core-cover__blanket,
.core-cover__blend {
  @include position(absolute, 0 null null 0);
  @include size(100%);
  background-color: $blanket-color;
}

.core-cover__blend {
  mix-blend-mode: color;
}

// Main layout

.frame__main {
  flex: 1 1 0%;
}

// Core content

.core {
  position: relative;
  @include flex-row();
  flex: 1 1 100%;
  padding: layout(2xs) layout(md) layout(sm);
}

.core__left,
.core__right {
  flex: 1 1 50%;
}

.core__title {
  font-family: font-family(primary);
}

// Aside content

.aside {
  display: none;
  background-color: $bg-color;
}

@media all and (min-width: $aside-breakpoint) {
  .aside {
    display: block;
  }
}
