// Base font size and line height for body
$px-base-font-size: 18;
$px-base-font-size-xs: $px-base-font-size * .9;
$px-base-font-size-sm: $px-base-font-size * .95;
$em-base-line-height: 1.4;

// Header height in rem
$rem-header-height-sm: 4;
$rem-header-height-gt-sm: 6.5;

// Header height in px
$px-header-height-xs: $rem-header-height-sm * $px-base-font-size-xs;
$px-header-height-sm: $rem-header-height-sm * $px-base-font-size-sm;
$px-header-height-gt-sm: $rem-header-height-gt-sm * $px-base-font-size;

// Header height with unit
$header-height-sm: $rem-header-height-sm * 1rem;
$header-height-gt-sm: $rem-header-height-gt-sm * 1rem;

$ui-layout: (
  headerHeightSm: $header-height-sm,
  headerHeightGtSm: $header-height-gt-sm,
  pxHeaderHeightXs: $px-header-height-xs,
  pxHeaderHeightSm: $px-header-height-sm,
  pxHeaderHeightGtSm: $px-header-height-gt-sm,
);
