@import '~scss/utils';

.header-frame {
  @include position(fixed, 0 0 null 0);
  z-index: z-index(header);
  width: 100%;

  &--hidden {
    pointer-events: none;
    opacity: 0;
  }
}

.header {
  width: 100%;
}
