@import '~scss/utils';
@import '~scss/shared/animations/arrive-down';
@import '~scss/shared/animations/depart-up';

$header-easing: cubic-bezier(0.22, 1, 0.36, 1);
$header-duration: 350ms;

// Header position

.header-frame {
  @include position(fixed, 0 0 null 0);
  z-index: z-index(header);
}

// Header visibility control

.header-frame:not(.header-frame--hidden) {
  animation: arrive-down $header-duration $header-easing both;
}

.header-frame--hidden {
  pointer-events: none;
  opacity: 0;
  animation: depart-up $header-duration $header-easing both;
}

// Header layout

.header,
.header__brand,
.header__countdown,
.header__actions {
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: min-content auto min-content;
}

// Header left

.header__brand {
  @include flex-column(center, start);
  width: 6rem;

  @include breakpoint('gt-sm') {
    width: 8rem;
  }
}

.header__countdown {
  @include flex-column(center, center);
}

// Header right

.header__actions {
  @include flex-row(flex-end, center);
}
