@import '~scss/utils';

.videos {
  margin-top: layout(xs);
  padding-top: layout(xs);
  border-top: 1px solid theme(cloud, dark2);

  @include breakpoint('gt-sm') {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: layout(xs);
    margin-top: layout(sm);
    padding-top: layout(sm);
  }

  @include breakpoint('gt-sm') {
    margin-top: layout(md);
    padding-top: layout(md);
    }

  @include breakpoint('gt-md') {
    margin-top: layout(lg);
    padding-top: layout(lg);
    }
}

.video__item {
  width: 100%;

  @include breakpoint('sm') {
    &:not(:first-child) {
      margin-top: layout(xs);
    }
  }
}
