@import '~scss/utils';

.videos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: spacing(md);
  padding-top: spacing(md);
  border-top: 1px solid theme(cloud, dark2);

  @include breakpoint('gt-xs') {
    margin-top: spacing(lg);
    padding-top: spacing(lg);
  }

  @include breakpoint('gt-sm') {
    margin-top: spacing(xl);
    padding-top: spacing(xl);
  }

  @include breakpoint('gt-md') {
    margin-top: spacing(2xl);
    padding-top: spacing(2xl);
  }
}

.video__item {
  width: 100%;
}
