@import '~helpers/scss';

.frame,
.card {
  height: 100%;
}

.frame {
  width: 100%;
}

.card {
  @include flex-column(center, center);
  padding: spacing(md);
  border-radius: border-radius(round);
  box-shadow: shadow(2);
}

.card__icon {
  color: theme(redRose, base);
  font-size: 1.85rem;
}

.card__title {
  margin-top: spacing(2xs);
  font-family: font-family(primary);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1em;
}

.card__subtitle {
  margin-top: spacing(xs);
  font-size: .97rem;
  line-height: 1.35em;
}
