@import '~helpers/scss';

.item__icon {
  width: 3rem;
  min-width: 4rem;
  @include flex-row(center, center);
  font-size: 1.7rem;
}

.item__text {
  margin: spacing(2xs) 0 spacing(2xs);
  padding-right: spacing(sm);

  @include breakpoint('gt-xs') {
    padding-right: spacing(md);
  }
}

.item__title {
  letter-spacing: .2px;
  font-family: font-family(primary);
  font-size: 1.7rem;
  font-weight: 300;
  line-height: .95em;

  @include breakpoint('gt-xs') {
    font-size: 2rem;
  }
}

.item__subtitle {
  margin-top: spacing(2xs);
  font-size: .9rem;
  color: theme(blueRose, light2);
  line-height: 1.15em;

  @include breakpoint('gt-xs') {
    margin-top: spacing(xs);
    font-size: 1rem;
  }
}

:global {
  .MuiButtonBase-root.c2-nav-list-item {
    &:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, .05);
    }

    @include breakpoint('gt-xs') {
      position: relative;

      &:hover {
        background-color: rgba(0, 0, 0, .15);
      }

      &::before {
        content: '';
        @include position(absolute, 0 null 0 0);
        @include size(5px, 100%);
        background-color: theme(blueRose, light1);
        opacity: 0;
      }

      &--active {
        pointer-events: none;
        background-color: rgba(0, 0, 0, .1);

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
