@import '~scss/utils';

.step {
  overflow-x: auto;
}

.event-invite {
  @include flex-column(center, center);
}

.event-invite__btn {
  display: grid;
  place-items: stretch;
}

@include breakpoint('gt-sm') {
  .step {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: layout(sm);
  }
}
