@import '~helpers/scss';

.follow {
  position: relative;
  z-index: -1;
  @include gradient(theme(ocean, dark1), theme(ocean, dark2));
  color: #fff;
}

.follow__main {
  max-width: 75rem;
  margin: 0 auto;
  padding: layout(xs) layout(2xs) layout(2xs);

  @include breakpoint('gt-sm') {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: spacing(md);
    justify-content: center;
    padding: layout(xs) layout(xs) layout(2xs);
  }
}

.follow__section {
  padding: layout(2xs) layout(2xs) layout(sm);

  &:last-child {
    padding-bottom: layout(2xs);
  }

  @include breakpoint('gt-sm') {
    display: grid;
    grid-template-rows: min-content auto;
    grid-row-gap: spacing(sm);
    padding: layout(xs);

    &:last-child {
      padding-bottom: layout(xs);
    }
  }
}

.follow__heading {
  text-align: center;
}

.follow__section-main {
  margin-top: layout(2xs);
  @include flex-column(center, center);

  @include breakpoint('gt-sm') {
    margin-top: 0;
  }
}

// Facebook group section

.follow__group-btn-context {
  @include flex-column(center, center);
}

.follow__group-icon {
  margin-bottom: spacing(sm);
  font-size: 1.75rem;
}

@include breakpoint('gt-sm') {
  .follow__group-btn-context {
    @include flex-row(center, center);
  }

  .follow__group-icon {
    margin-bottom: 0;
    margin-right: spacing(sm);
  }
}
