@import '~scss/utils';

.list {
  display: grid;
  max-width: 15rem;
  margin: -5px auto;
}

.action {
  @include flex-row(stretch, center);
  padding: spacing(xs) 0;
}

.action__btn,
.action__icon {
  transition-duration: 150ms;
}

.action__btn {
  display: grid;
  flex: 1 1 0%;
}

.action__icon {
  @include flex-column(center, center);
  width: 2.7rem;
  font-size: 1.5rem;
}

@include breakpoint('gt-sm') {
  .grid {
    grid-template-columns: 1fr;
    max-width: 15rem;
  }
}

// Theme

@mixin set-action-theme($color) {
  .action__icon {
    color: $color;
  }

  &:hover {
    .action__btn { transform: translateX(3px); }
    .action__icon { transform: translateX(-3px); }
  }
}

.action--google { @include set-action-theme(color(platform, google)); }
.action--apple { @include set-action-theme(color(platform, apple)); }
.action--microsoft { @include set-action-theme(color(platform, microsoft)); }
.action--yahoo { @include set-action-theme(color(platform, yahoo)); }
.action--other { @include set-action-theme(theme(blueRose, dark2)); }
