@import '~style-utils';

.drawer {
  display: grid;
  grid-template-rows: min-content auto min-content;
  max-width: 100vw;
  min-width: 85vw;
  height: 100%;
  overflow-y: auto;
  background-color: theme(ocean, dark2);
  background: linear-gradient(-35deg,
    theme(ocean, dark1),
    theme(blueRose, dark1),
  );
  color: #fff;

  @include breakpoint('gt-xs') {
    overflow-y: hidden;
    min-width: unset;
  }
}

// Drawer header

.header {
  display: grid;
  grid-template-columns: auto min-content;
  place-items: center start;
  height: 6rem;

  @include breakpoint('gt-sm') {
    height: ui-layout(headerHeightGtSm);
  }
}

.brand {
  width: 6.5rem;
  margin: 0 spacing(lg);

  @include breakpoint('gt-sm') {
    width: 8rem;
  }
}

.close {
  margin: 0 spacing(md);
}

// Bottom

.footer {
  border-top: 1px solid rgba(255, 255, 255, .05);
}

.messenger {
  @include flex-column(center, center);
  padding: spacing(sm) 0;
  border-top: 1px solid rgba(255, 255, 255, .05);
}
