@import '~scss/utils';

.editor {
  width: 100%;
}

.editor__result {
  background-color: theme(cloud, base);
}

.editor__options {
  border-top: 1px solid theme(cloud, dark1);
  background-color: #fff;
}
