@import '~helpers/scss';

.ready {
  position: relative;
  @include min-full-height();
}

// Header

.header {
  position: relative;
  padding: spacing(lg) spacing(xs) spacing(md);
  background-color: rgba(theme(blueRose, dark1), .65);
  color: #fff;

  &::before {
    content: '';
    pointer-events: none;
    @include position(absolute, .75rem .75rem .75rem .75rem);
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    border: 1px solid rgba(255, 255, 255, .1);
  }
}

.header__left {
  display: none;
}

.header__center {
  flex: 1 1 0%;
  @include flex-row(center, center);
}

.header__right {
  display: none;
}

@include breakpoint('gt-xs') {
  .header {
    padding: spacing(xl) spacing(sm) spacing(lg);
  }
}

@include breakpoint('gt-sm') {
  .header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-content: center;
    padding: spacing(xl) 3vw spacing(lg);

    &::before {
      content: none;
    }
  }

  .header__left {
    @include flex-row(flex-start, center);
  }

  .header__right {
    @include flex-row(flex-end, center);
  }
}

// Countdown

.ready__countdown {
  min-height: 45vh;
  @include flex-column(center, center);
}

// Quote

.ready__quote-frame {
  @include flex-column(center, center);
  padding: layout(md) layout(xs) layout(lg);
}

.ready__quote {
  max-width: 50rem;
}
