@import '~helpers/scss';

.join {
  @include flex-column(center, center);
  padding: spacing(md) 0 spacing(lg);
  text-align: center;
}

.join__pre-title {
  margin-top: spacing(xs);
  color: theme(redRose, light1);
  font-family: font-family(primary);
  font-size: 1.45rem;
  letter-spacing: -.5px;

  @include breakpoint('gt-xs') {
    font-size: 1.6rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 1.75rem;
  }

  @include breakpoint('gt-md') {
    font-size: 2rem;
  }

  @include breakpoint('gt-lg') {
    font-size: 2.25rem;
  }
}

.join__title {
  margin-top: spacing(md);
  font-size: 2.25rem;
  line-height: 1em;

  @include breakpoint('gt-xs') {
    margin-top: spacing(lg);
    font-size: 3.5rem;
  }

  @include breakpoint('gt-sm') {
    margin-top: spacing(xl);
    font-size: 4rem;
  }

  @include breakpoint('gt-md') {
    margin-top: spacing(2xl);
    font-size: 4.5rem;
  }

  @include breakpoint('gt-lg') {
    font-size: 5rem;
  }
}

.join__subtitle {
  max-width: 40rem;
  margin-top: spacing(sm);
  text-align: left;

  @include breakpoint('gt-sm') {
    margin-top: spacing(md);
    max-width: 45rem;
  }

  @include breakpoint('gt-md') {
    margin-top: spacing(lg);
  }
}
