@import '~helpers/scss';

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  45% {transform: translateY(-7px);}
  55% {transform: translateY(-3px);}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.countdown {
  position: relative;
  width: 100%;
  max-width: 60rem;
  padding: layout(sm) layout(xs) layout(md);
  color: theme(ocean, dark2);
}

.row {
  @include flex-column(center, center);
}

// Countdown header

.header {
  color: #fff;
}

.from-now {
  text-transform: uppercase;
  letter-spacing: -.3px;
  font-family: font-family(primary);
  font-size: 1.4rem;
  line-height: 1.1em;
}

@include breakpoint('gt-xs') {
  .header {
    padding: spacing(md) 0;
  }

  .from-now {
    letter-spacing: -.6px;
    font-size: 1.9rem;
  }
}

@include breakpoint('gt-md') {
  .from-now {
    font-size: 2.7rem;
  }
}

// Countdown ticker

.ticker {
  position: relative;
  padding: spacing(lg) 0;
  border-top: 1px solid transparent;
}

.units {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: spacing(xs);
  place-content: center;
}

@include breakpoint('gt-xs') {
  .ticker {
    border-color: rgba(255, 255, 255, .1);
  }

  .units {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: spacing(sm);
  }
}

@include breakpoint('gt-md') {
  .units {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: spacing(md);
  }
}

// Unit

.unit {
  @include flex-column(center, center);
  @include size(6.5rem);
  border-radius: border-radius(round);
  box-shadow: shadow(24);
  font-family: font-family(primary);
  color: #fff;
}

.value {
  @include flex-column(center, center);
  margin-top: -5px;
  letter-spacing: 1px;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: .9em;
  text-shadow: 2px 3px 0 rgba(theme(ocean, dark1), .65);
}

.unit--zero .value {
  color: theme(marine, dark2);
}

.label {
  margin-top: spacing(xs);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  line-height: .8em;
  font-weight: 400;
  text-shadow: 1px 2px 0 rgba(theme(ocean, dark1), .65);
}

@include breakpoint('gt-xs') {
  .unit {
    @include size(8rem);
  }

  .value {
    font-size: 4.5rem;
  }

  .label {
    margin-top: spacing(sm);
    font-size: 1.35rem;
  }
}

@include breakpoint('gt-sm') {
  .label {
    font-weight: 300;
  }
}

@include breakpoint('gt-md') {
  .unit {
    @include size(9.5rem);
  }

  .value {
    font-size: 5.5rem;
  }

  .label {
    margin-top: spacing(md);
    font-size: 1.5rem;
  }
}

// Specific blocks

// Day
.unit:nth-child(1) {
  @include gradient(theme(blueRose, dark2), theme(blueRose, base));
}

// Hour
.unit:nth-child(2) {
  @include gradient(theme(blueRose, dark1), theme(blueRose, light1));
}

// Minute
.unit:nth-child(3) {
  @include gradient(theme(blueRose, base), theme(blueRose, light2));
}

// Second
.unit:nth-child(4) {
  @include gradient(theme(ocean, base), theme(ocean, light2));

  .value {
    animation: bounce 1s infinite both 425ms;
  }
}

// Countdown footer

.zone {
  color: #fff;
  font-size: .9rem;
}

// Countdown past

.countdown--past .value {
  color: #fff;
}

// Clap time

.clap-time {
  display: none;
  width: 100%;

  animation: shake .82s cubic-bezier(.36,.07,.19,.97) infinite both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.clap-time__center {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: font-family(primary);
  font-size: 2.5rem;
  line-height: 1.5em;
  font-weight: 700;
  @include text-gradient(
    theme(ocean, dark1),
    linear-gradient(
      135deg,
      theme(marine, dark2),
      theme(marine, light2),
    ),
  );

  @include breakpoint('gt-xs') {
    font-size: 4rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 6rem;
  }

  @include breakpoint('gt-md') {
    font-size: 8rem;
  }
}

.countdown--now .header,
.countdown--now .zone {
  display: none;
}

.countdown--now .clap-time {
  @include flex-column(center, center);
}
