@import 'scss/utils';

.about {
  @include flex-column(center, center);
}

.card {
  position: relative;
  @include flex-column(flex-start, center);
  width: 100%;
  max-width: 25rem;
  padding: 1.1rem spacing(lg) spacing(sm);
  background-color: #fff;
  border-radius: border-radius(round);
  color: #000;

  &:not(:first-child) {
    margin-top: spacing(lg);
  }
}

.card__heading {
  @include position(absolute, 0 null null 50%);
  transform: translate(-50%, -.65rem);
  @include flex-column(center, center);
  height: 1.5rem;
  padding: 0 10px 2px 10px;
  background-color: theme(blueRose, dark2);
  border-radius: 50px;
  border: 2px solid #fff;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: .85rem;
  line-height: 1em;
}

.card__text {
  margin-bottom: 4px;
  text-align: left;
  font-size: .93rem;
  line-height: 1.3em;

  &:not(:first-child) {
    margin-top: spacing(2xs);
  }
}

// Share invitation card

.share-invite {
  @include flex-column(center, center);
  margin-bottom: spacing(lg);
}
