@import '~style-utils';

.frame {
  background-color: #fff;
}

.main {
  max-width: 25rem;
  margin: layout(xs) auto;
}

.url {
  @include truncate(1, 100%);
  color: rgba(0, 0, 0, .5);
}

.footnote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: spacing(lg);
  padding-top: spacing(md);
  border-top: 1px solid theme(cloud, dark1);
  color: rgba(theme(ocean, dark1), .65);
  text-align: center;
  font-size: .85rem;
  line-height: 1.35em;
}

@include breakpoint('gt-xs') {
  .main {
    margin-top: layout(sm);
  }
}
