@import '~style-utils';

.frame {
  background-color: theme(cloud, dark1);
}

.url {
  @include truncate(1, 100%);
  font-size: 1.1rem;
  line-height: 1.2em;
}

@include breakpoint('gt-xs') {
  font-size: 1.45rem;
}
