@import '~style-utils';

.frame {
  padding: spacing(xs) spacing(sm) spacing(sm);
  border-radius: border-radius(sharp);
  border: 1px solid theme(cloud, dark1);

  &:not(:first-child) {
    margin-top: spacing(xs);
  }
}

.header {
  @include flex-row(normal, center);
  padding: 2px 0 5px;
  color: color(content, subtle);
}

.header__title {
  font-family: font-family(primary);
  font-size: 1.15rem;
  line-height: 1em;
}

.header__icon {
  @include flex-column(center, center);
  margin-right: 4px;
  font-size: 1.15rem;
}

.main {
  padding-top: spacing(xs);
}
