@import '~helpers/scss';

.frame {
  width: 100%;
}

.methods {
  display: grid;
  grid-gap: spacing(sm);
}

.methods__item {
  width: 100%;
}

@include breakpoint('gt-xs') {
  .methods {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}
