@import '~scss/utils';

.header {
  position: relative;
  @include flex-column(center, center);
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  padding: 4.5rem 1rem 5.5rem;
  text-align: center;

  @include breakpoint('gt-xs') {
    padding: 4.5rem 3rem 6rem;
  }

  @include breakpoint('gt-sm') {
    padding: 6rem 5rem 9.5rem;
  }

  @include breakpoint('gt-md') {
    padding: 7rem;
  }
}

.header__logo-aside {
  @include position(absolute, 0 0 null 0);
  z-index: 2;
  @include flex-row(center, center);
  height: ui-layout(headerHeightSm);
  background-color: #fff;
  box-shadow: shadow(2);

  @include breakpoint('gt-sm') {
    @include position(absolute, 0 null null 0);
    @include flex-row(flex-start, flex-start);
    height: auto;
    background-color: unset;
    box-shadow: unset;
  }
}

.header__logo {
  display: flex;
  width: 6rem;

  @include breakpoint('gt-sm') {
    transform: unset;
    width: 15rem;
    padding: 2rem 2.25rem;
  }
}

// Arrow down invitation

@keyframes invite-down {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 100%; }
  0% { transform: translate(-50%, -1rem); }
  100% { transform: translate(-50%, 0); }
}

.header__down-invite {
  @include position(absolute, null null 10px 50%);
  transform: translateX(-50%);

  &:not(:hover) {
    animation: invite-down 2s linear infinite both;
  }

  @include breakpoint('gt-sm') {
    bottom: calc(3.1rem + 30px);
  }
}
