@import '~scss/utils';

.step {
  width: 100%;
}

.main {
  width: 100%;
}

.main__section:not(:first-child) {
  margin-top: layout(sm);
}

@include breakpoint('gt-sm') {
  .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: layout(lg);
  }

  .main__section:not(:first-child) {
    margin: 0;
  }
}

// Featured tweets

.featured-tweets {
  width: 100%;
}

// Countdown

.countdown {
  @include flex-column(center, center);
}

// Noise methods

.noise-methods {
  width: 100%;
}

// Countdown invitation

.countdown-invite {
  @include flex-column(center, center);
}

.countdown-invite__btn {
  margin-top: spacing(lg);
}
