@import '~style-utils';

.quote {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: min-content min-content;

  &::before,
  &::after {
    content: none;
  }
}

.quote__icon {
  font-size: 1.4rem;
  color: rgba(theme(marine, base), .5);

  &--right {
    align-self: end;
  }

  @include breakpoint('gt-xs') {
    font-size: 1.7rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 2rem;
  }
}

// Blockquote content

.quote__text {
  width: 100%;
  padding: spacing(xs) spacing(xs);
  text-align: left;
  font-size: inherit;
  line-height: 1.5em;
  color: #fff;

  @include breakpoint('gt-xs') {
    padding: spacing(xs) spacing(sm);
    font-size: 1.2rem;
    line-height: 1.4em;
  }

  @include breakpoint('gt-sm') {
    padding: spacing(xs) spacing(md);
    font-size: 1.4rem;
    line-height: 1.3em;
  }
}

.quote__cite {
  grid-column: 2;
  align-self: end;
  margin: spacing(sm) 0 0 spacing(xs);
  padding-left: spacing(xs);
  border-left: 2px solid rgba(theme(marine, base), .5);
  text-align: left;
  font-family: font-family(primary);
  line-height: 1em;

  @include breakpoint('gt-xs') {
    margin: spacing(md) 0 0 spacing(sm);
  }

  @include breakpoint('gt-sm') {
    margin: spacing(lg) 0 0 spacing(md);
  }
}

.quote__name {
  color: rgba(255, 255, 255, .8);
  font-size: 1.1rem;

  @include breakpoint('gt-sm') {
    font-size: 1.5rem;
  }
}

.quote__title {
  margin-top: 5px;
  color: rgba(255, 255, 255, .6);
  font-size: .85rem;

  @include breakpoint('gt-sm') {
    font-size: 1.05rem;
  }
}
// Extra large quote

.quote--extra-large .quote__text {
  font-size: 1.1rem;

  @include breakpoint('gt-xs') {
    font-size: 1.35rem;
  }

  @include breakpoint('gt-sm') {
    font-size: 1.55rem;
  }
}
