@import '~helpers/scss';

.frame:not(:first-child) {
  margin-top: spacing(lg);
}

.header {
  width: 100%;
}

.header__title {
  color: theme(ocean, dark1);
  line-height: .8em;
}

.header__subtitle {
  margin-top: spacing(2xs);
  color: rgba(theme(ocean, base), .7);
  font-size: .85rem;
  line-height: 1.1em;
}

.toggle {
  display: grid;
  width: 100%;
  margin-top: spacing(sm);
}

.main {
  padding-top: spacing(sm);
}

@include breakpoint('gt-xs') {
  .frame:not(:first-child) {
    margin-top: spacing(xl);
  }
}

@include breakpoint('gt-sm') {
  .frame:not(:first-child) {
    margin-top: 0;
  }
}
