@import '~style-utils';

.frame {
  @include size(100%);
  @include flex-column(center, center);
}

.card {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border-radius: border-radius(round);
  box-shadow: shadow(12);
  color: color(content, base);
}

@include breakpoint('gt-xs') {
  .card {
    width: auto;
    min-width: 25rem;
  }
}

// Content

.overline {
  padding: spacing(xs) spacing(md);
  background-color: theme(cloud, base);
  border-bottom: 1px solid theme(cloud, dark1);
  color: rgba(theme(ocean, dark1), .5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: .9rem;
  line-height: 1em;
}

.main {
  @include flex-column(center, stretch);
  padding: spacing(sm) spacing(md);
  overflow: auto;
}

// Actions

.actions {
  padding: 0 spacing(2xs) spacing(2xs);
}
