@import '~scss/utils';

// Header

.header {
  display: grid;
  grid-template-columns: auto min-content;
  place-items: center start;
  padding: spacing(xs);
  @include gradient(theme(blueRose, dark1), theme(blueRose, light1));
  color: #fff;
}

.header__title-group {
  padding-left: spacing(md);
}

.header__title {
  line-height: 1em;
}

.header__subtitle {
  margin-top: spacing(2xs);
  color: rgba(255, 255, 255, .5);
  line-height: 1.2em;
}

.header__close {
  margin-top: 3px;
}

@include breakpoint('gt-sm') {
  .header {
    padding: spacing(md);
  }
}

// Actions

.actions {
  position: relative;
  width: 100%;
  border-top: 1px solid theme(cloud, dark2);
}
