@import '~scss/utils';

.card-frame {
  width: 100%;
  max-width: 50rem;
}

.card {
  display: grid;
  grid-template-columns: 5rem auto;
  width: 100%;
  min-height: 5rem;
  background-color: #fff;
  box-shadow: shadow(24);
  border-radius: border-radius(round);
}

.preview {
  @include size(100%);
  @include bg-image(cover);
  @include border-left-radius(border-radius(round));
  overflow: hidden;
}

.invite {
  @include flex-row(center, center);
  padding: spacing(md) spacing(xs);
}

@include breakpoint('gt-xs') {
  .card {
    grid-template-columns: 7rem auto;
    min-height: 7rem;
  }
}

@include breakpoint('gt-sm') {
  .card {
    grid-template-columns: 9rem auto;
    min-height: 9rem;
  }
}
