@import '~style-utils';

.heading {
  width: 100%;
  margin-bottom: .6rem;
  padding-bottom: .4rem;
  border-bottom: 1px solid theme(cloud, dark1);
  color: #222;

  &:not(:first-child) {
    margin-top: 2em;
  }
}
