@import '~style-utils';

.header {
  @include size(100%);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.start {
  @include flex-row(flex-start, center);
}

.center {
  @include flex-row(center, center);
}

.end {
  @include flex-row(flex-end, center);
}

// Logo in center

.center__logo {
  display: flex;
  width: 6rem;

  @include breakpoint('gt-sm') {
    width: 8rem;
  }
}
