@import '~scss/utils';

.nav {
  padding: spacing(sm);

  @include breakpoint('gt-sm') {
    padding: spacing(md);
  }
}

.list:hover {
  background-color: #fff;

  .list__icon {
    color: #000;
  }

  .list__title {
    color: #000;
  }

  .list__subtitle {
    color: color(content, subtle);
  }
}

.list__icon {
  width: 3rem;
  @include flex-row(center, center);
  font-size: 1.8rem;
}

.list__text {
  margin: spacing(sm) 0 spacing(sm) spacing(sm);
  padding-right: spacing(sm);
  line-height: 1.25em;

  @include breakpoint('gt-xs') {
    margin: spacing(md) 0 spacing(md) spacing(md);
    padding-right: spacing(md);
  }
}

.list__title {
  letter-spacing: .2px;
  font-family: font-family(primary);
  font-size: 2rem;
  font-weight: 300;
}

.list__subtitle {
  margin-top: spacing(sm);
  font-size: 1rem;
  color: theme(blueRose, light2);
}

:global {
  @include breakpoint('gt-xs') {
    .MuiButtonBase-root.c2-nav-list {
      border: 2px solid transparent;
      border-radius: border-radius(sharp);

      &:hover {
        background-color: rgba(0, 0, 0, .15);
        border-color: rgba(255, 255, 255, .15);
      }
    }
  }
}
