@import '~scss/utils';

.select-frame {
  width: 100%;
}

// State item

.state {
  @include flex-row(center, center);
  text-align: left;
}

.state__thumb {
  @include size(1.2rem, .8rem);
  margin-right: 10px;
  @include bg-image(cover);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
