@import '~style-utils';

.item {
  &:not(:first-child) {
    margin-top: .8rem;
  }

  a {
    @include simple-link;
    @include truncate();
    line-height: 2em;
  }

  @include breakpoint('gt-sm') {
    &:not(:first-child) {
      margin-top: .6rem;
    }

    a {
      padding: .25rem 0;
      line-height: 1.35em;
    }
  }
}
