@mixin flex-column (
  $justify-content: stretch,
  $align-items: stretch,
  $flex-wrap: null,
) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;

  @if $flex-wrap {
    flex-wrap: $flex-wrap;
  }
}
