@mixin flex-row (
  $justify-content: start,
  $align-items: start,
  $flex-wrap: null,
) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;

  @if $flex-wrap {
    flex-wrap: $flex-wrap;
  }
}
