@import '~style-utils';

.fab-frame {
  position: fixed;
  right: spacing(sm);
  bottom: spacing(sm);
  z-index: z-index(fab);
  transition-duration: 150ms;

  &:hover {
    transform: translateY(-3px);
  }

  @include breakpoint('gt-xs') {
    right: spacing(md);
    bottom: spacing(md);
  }

  @include breakpoint('gt-md') {
    right: spacing(lg);
    bottom: spacing(lg);
  }
}

:global {
  .MuiFab-root.c2-fab--primary {
    background-color: theme(blueRose, dark1);
    background: linear-gradient(90deg,
      theme(ocean, base),
      theme(blueRose, base),
    );
  }

  .MuiFab-label.c2-fab__label {
    font-size: 1.2rem;
  }
}
