@import '~scss/utils';

.bar {
  position: relative;
  z-index: z-index(quickNavBar);
  padding: spacing(xs) spacing(sm);
  background-color: theme(cloud, base);

  @include breakpoint('gt-xs') {
    padding: spacing(md) spacing(lg);
  }
}

.bar__nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: spacing(xs);

  @include breakpoint('gt-sm') {
    width: auto;
    grid-template-columns: 12rem auto 12rem;
  }
}
