@import '~style-utils';

.frame {
  width: 100%;
  max-width: 25rem;
}

// Header

.header {
  position: relative;
  width: calc(100% - 1.8rem);
  @include flex-column(flex-start, center);
  margin: spacing(lg) auto 0;
  padding: 1.35rem spacing(lg) 2.2rem;
  background-color: theme(ocean, dark2);
  border: 3px solid #fff;
  border-radius: border-radius(round);
  @include border-bottom-radius(0);
  text-align: center;
}

.header__overline,
.header__pretext,
.header__text {
  line-height: .95em;
}

.header__overline {
  @include position(absolute, 0 null null 50%);
  transform: translate(-50%, -.8rem);
  @include flex-column(center, center);
  height: 1.5rem;
  padding: 0 10px 1px 10px;
  background-color: theme(blueRose, dark2);
  border-radius: 50px;
  border: 3px solid #fff;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: .8rem;
}

.header__pretext {
  text-transform: uppercase;
  color: #fff;
  font-size: .9rem;
  font-weight: 700;
}

.header__text {
  margin-top: 3px;
  color: theme(marine, base);
  letter-spacing: -.5px;
  font-family: font-family(primary);
  font-size: 1.45rem;
}

@include breakpoint('gt-xs') {
  .header__text {
    font-size: 1.6rem;
  }
}

@include breakpoint('gt-sm') {
  .header__text {
    font-size: 1.75rem;
  }
}

@include breakpoint('gt-md') {
  .header__text {
    font-size: 2rem;
  }
}

@include breakpoint('gt-lg') {
  .header__text {
    font-size: 2.25rem;
  }
}

// Main

.main {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 5rem auto;
  margin-top: -1.5rem;
  width: 100%;
  min-height: 5rem;
  background-color: #fff;
  box-shadow: shadow(24);
  border-radius: border-radius(round);
}

.main__preview {
  @include size(100%);
  @include bg-image(cover);
  @include border-left-radius(border-radius(round));
  overflow: hidden;
}

.main__invite {
  @include flex-row(center, center);
  padding: spacing(md) spacing(xs);
}

@include breakpoint('gt-xs') {
  .main {
    grid-template-columns: 6rem auto;
    min-height: 6rem;
  }
}

@include breakpoint('gt-sm') {
  .main {
    grid-template-columns: 7rem auto;
    min-height: 7rem;
  }
}
