@import '~scss/utils';

.frame {
  padding: spacing(xs) spacing(sm) spacing(sm);
  border-radius: border-radius(sharp);
  border: 1px solid theme(cloud, dark1);

  &:not(:first-child) {
    margin-top: spacing(md);
  }
}

.header {
  padding: 2px 0 5px;
  @include flex-row(normal, center);
}

.header__title {
  flex: 1 1 0%;
}

.header__icon {
  @include flex-column(center, center);
  margin: 0 6px 1px 0;
  font-size: 1.35rem;
}

.main {
  padding-top: spacing(xs);
}
